.bg {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url("../img/clouds.webp");
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  .slide {
    width: 100vw;
    display: flex;
    flex-direction: column;
    transition: opacity 0.5s ease-in;
    position: absolute;

    & + .slide {
      opacity: 0;
    }
  }

  h1 {
    font-family: "Spectral SC", sans serif;
    font-size: 6.1vmin;
    margin-bottom: -2px;
    margin-top: -2px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  h3 {
    letter-spacing: 1px;
    font-size: 2.8vmin;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  p {
    font-size: 2.1vmin;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
}
