html,
body {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

ul {
  display: block;
  list-style-type: disc;
  list-style-position: outside;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  line-height: calc(1ex / 0.32);
  margin-bottom: 0.5em;
}

h1 {
  font-size: 1.5rem;
  line-height: calc(1ex / 0.42);
  margin: calc(1ex / 0.42) 0;
  font-weight: 700;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  text-align: left;
}

h2 {
  font-size: 1.25rem;
  line-height: calc(1ex / 0.42);
  margin: calc(1ex / 0.42) 0;
  font-weight: 700;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  text-align: left;
}

h3 {
  font-size: 1rem;
  line-height: calc(1ex / 0.38);
  margin: calc(1ex / 0.38) 0;
  margin-bottom: 0.25em;
  text-align: left;
  font-weight: 700;
}

h4 {
  font-size: 0.75rem;
  line-height: calc(1ex / 0.37);
  margin: calc(1ex / 0.37) 0;
  margin-bottom: 0.25em;
  text-align: left;
  font-weight: 700;
}

p {
  font-size: 1rem;
  line-height: calc(1ex / 0.32);
  margin: calc(1ex / 0.32) 0;
  text-align: justify;
  hyphens: auto;
}

small,
.small {
  display: block;
  font-size: 0.75rem;
  line-height: calc(1ex / 0.3);
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-serif {
  font-family: Georgia, Times, "Times New Roman", serif;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

u {
  text-decoration: underline;
}
